* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #dedddd;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 1);
}

textarea {
    width: 370px;
    height: 170px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    background-color: #f5f5f5;
    padding: 20px;
}

#translated_content {
    margin-top: 25px;
    width: 370px;
    height: 170px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    background-color: #f5f5f5;
    padding: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #dedddd;
}

button:active {
    transform: scale(0.95);
}

body .swal2-popup {
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    font-size: 14px;
}
body .swal2-popup .swal2-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    font-style: normal;
}

body .swal2-popup .swal2-content {
    font-size: 14px;
    color: #333;
    font-style: normal;
}

body .swal2-popup .swal2-confirm {
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    font-size: 14px;
    font-weight: bold;
    color: #333;
    font-style: normal;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

body.swal2-popup .swal2-confirm:hover {
    background-color: #dedddd;
}

.swal2-popup .swal2-confirm:active {
    transform: scale(0.95);
}